<div class="dropdown">
  links
  <div class="dropdown-content">
    <ul>
      <li><i class="fa fa-instagram" aria-hidden="true"></i> <a href="http://www.instagram.com/lillendandieart/">Instagram</a></li>
      <li><i class="fa fa-youtube" aria-hidden="true"></i> <a href="http://www.youtube.com/channel/UC5Y-sqa7-zQ8XjXOCRnJVFg">YouTube</a></li>
      <li><i class="fa fa-twitch" aria-hidden="true"></i> <a href="http://www.twitch.tv/lillendandie">Twitch</a></li>
      <li><i class="fa fa-twitter" aria-hidden="true"></i> <a href="http://twitter.com/lillendandie">Twitter</a></li>
      <li><i class="fa fa-facebook-square" aria-hidden="true"></i> <a href="http://www.facebook.com/LillendandieArt/">Facebook</a></li>
  </div>
</div>