<div>
<!-- SLIDESHOW STARTS -->
<script src="js/better-simple-slideshow.min.js"></script>
<script>
var opts = {
    auto : false,
    fullScreen : true,
    swipe : false
};
makeBSS('.num2', opts);
</script>
<div class="bss-slides num2" tabindex="2">
   <figure>
      <img src="\slideshow\slide1.jpg" width="100%" /><figcaption>"Test" </figcaption> 
   </figure>
     <figure>
      <img src="\slideshow\slide1.jpg" width="100%" /><figcaption>"Test" </figcaption> 
   </figure>
     <figure>
      <img src="\slideshow\slide1.jpg" width="100%" /><figcaption>"Test" </figcaption> 
   </figure>
</div> <!-- // bss-slides -->
<!-- SLIDESHOW ENDS -->
</div>
